.profile__avatar-button {
  position: absolute;
  width: 120px;
  height: 120px;
  border: none;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../resources/images/svgs/avatar/avatar-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  transition: .2s linear;
}

.profile__avatar-button:hover {
  opacity: 1;
}