.card__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../resources/images/svgs/delete.svg);
  cursor: pointer;
}

.card__delete:hover {
  opacity: .6;
}