.container__sign-in {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.container__sign-in:hover {
  opacity: .6;
}