.profile__add {
  width: 150px;
  min-width: 50px;
  height: 50px;
  padding: 2px 0 0;
  margin-top: 35px;
  border: 1px solid white;
  background-color: black;
  background-image: url(../../../resources/images/svgs/place/place-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .1s linear;
}

.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 749px) {
  .profile__add {
    width: 282px;
  }
}