.input {
  display: block;
  width: 358px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
}

.input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 499px) {
  .input {
    width: 200px;
    padding-bottom: 13px;
  }
}