.header__link {
  margin: auto 0 auto auto;
  color: #fff;
  text-decoration: none;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 499px) {
  .header__link {
    margin-right: 30px;
    font-size: 14px;
    line-height: 17px;
  }
}