.form__heading {
  padding: 34px 64px 54px 36px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 499px) {
  .form__heading {
    padding: 25px 22px 36px;
    font-size: 18px;
    line-height: 22px;
  }
}