.close-btn_place_form {
  position: absolute;
  top: -32px;
  right: -32px;
}

@media screen and (max-width: 499px) {
  .close-btn_place_form {
    top: -51px;
    left: 42%;
    width: 45px;
    height: 45px;
  }
}