.footer__text {
  /* Примечание для ревью: В первый раз я не стал прописывать размер шрифта и строки, потому что они наследуются из root. Разве так нельзя? */
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 499px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}