.header__menu-btn {
  display: none;
  width: 24px;
  height: 21px;
  padding: 0;
  border: none;
  background-image: url(../../../resources/images/svgs/menu-btn.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 499px) {
  .header__menu-btn {
    display: block;
  }
}