.header__body {
  display: flex;
  /* place-content: center; */
  width: 100%;
  min-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 499px) {
  .header__body {
    min-height: 84px;
  }
}