/* .header {
  display: flex;
  max-width: 882px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
} */

/* Новый код */

.header {
  display: flex;
  max-width: 882px;
  /* min-height: 119px; */
  /* border-bottom: 1px solid rgba(84, 84, 84, .7); */
}